/******************/
/*			Setup			*/
/******************/

@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");
@font-face {font-family: Futura1; src: url("../e/fonts/FuturaStd-CondensedLight.otf");}
@font-face {font-family: Futura2; src: url("../e/fonts/FuturaStd-Condensed.otf");}		
@font-face {font-family: Futura3; src: url("../e/fonts/FuturaStd-CondensedBold.otf");}

/********************/
/*			Layout			*/
/********************/

body {background: #000000; min-height: 1000px; font-family: "Georgia";}

/********************/
/*			Header			*/
/********************/

header {background: #131313; height: 80px; color: #efefef; font-family: "Futura1"; box-shadow: inset 0 -20px 10px -10px black;}
	header nav {width: 960px; margin: 0 auto; padding-top: 1.6em;}
		header nav #logo {background: url("../i/o/logo.png") no-repeat; width: 200px; height: 23px; float: left;}
		header nav ol {float: right; font-size: 1.5em; /*text-transform: uppercase;*/}
			header nav ol li {display: inline-block; padding-left: 2em; text-shadow: 1px 1px 0 #000000;}
			header nav ol li:first-child {padding-left: 0;}
			header nav ol li a:link {color: #dedede; text-decoration: none;}
			header nav ol li a:hover {color: #bcbcbc;}
			header nav ol li a:visited {color: #dedede;}
			header nav ol li a:active {color: #bcbcbc;}

/********************/
/*			Content			*/
/********************/

#container {background: url("../i/o/bgblue.jpg") no-repeat; height: 750px; width: 1200px; margin: 0 auto;}

	main#contents {width: 960px; height: auto; margin: 0 auto; padding: 35px 0 0 0;
		-webkit-perspective:500;
		-moz-perspective:500;
		-ms-perspective:500;
		-o-perspective:500;
		perspective:500;}

		section#directions {float: left; width: 160px; height: auto;}
			section#directions div {font-size: .9em; margin: 25px 0 25px;}
				section#directions div:first-child {margin-top: 0;}
				section#directions div h6 {font-weight: bold; text-decoration: underline; font-size: 1.2em; margin-bottom: .5em; text-shadow: 1px 1px 0 #dedede;}
				section#directions #limit {margin-top: 15px;}
				section#directions #limit time {font-size: 3em; text-shadow: 1px 1px 0 #dedede;}
				section#directions #limit img {vertical-align: bottom; margin-right: 15px; width: 35px; height: 35px;}

		#puzzlebox {background: url("../i/o/f.jpg") no-repeat; float: right; padding: 25px; margin: 0 auto; width: 720px; height: 450px;
			-webkit-transform: rotateX(1deg);
			-moz-transform: rotateX(1deg);
			-o-transform: rotateX(1deg);
			transform: rotateX(1deg);}

/********************************/
/*			Misc Visual Classes			*/
/********************************/

canvas.playing, .cta, .cta * {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/************************/
/*			CTA Styling			*/
/************************/

.cta-puz {position: relative; background: #131313; width: 120px; height: 44px;}
	.cta-puz p {font-size: 1.8em; font-family: "Futura1"; padding: .45em 0 0 1em; color: #dedede;}
	.cta-puz:hover p {color: #bcbcbc;}
	.cta-puz:after {left: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
	.cta-puz:after {border-left-color: #131313; border-width: 22px; top: 50%; margin-top: -22px;}