/******************/
/*			Setup			*/
/******************/

@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");
/* Google webfonts */
@import url('http://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('http://fonts.googleapis.com/css?family=Merriweather:400,700');	

/********************/
/*			Layout			*/
/********************/

body {
	background: #000000 url("../images/bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

/********************/
/*			Content			*/
/********************/

#puzzlebox {float: right; background: url("../images/i.jpg"); padding: 1px; margin: 40px 40px; width: 640px; height: 400px;}

/* positioning our javascript puzzle objects inside element */
#puzzle {position: relative;}
		
/********************************/
/*			Misc Visual Classes			*/
/********************************/
	
.hurry {color: red;}

/************************/
/*			CTA Styling			*/
/************************/

.cta-puz {position: relative; cursor: pointer; float: right; background: #131313; width: 120px; height: 44px; border: 2px solid #dedede;}
.cta-puz p {font-size: 1em; font-family: "Oswald"; padding: .45em 0 0 1.1em; color: #dedede;}
